[2018-09-08 08:46] dependabot[bot] opened #6 "Dependabot can't parse your package.json"
Dependabot couldn't parse the package.json found at `/package.json`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-09-14 17:58] vadim9999 opened #14 "Doesn't show full information in opened tile"
![image](https://user-images.githubusercontent.com/35640573/45566783-58bdb900-b860-11e8-8cfd-d22eba262ccf.png)
In this opened tile you can't read all information. Close button doesn't work. You can just scroll up or scroll down but it's close tile.
![image](https://user-images.githubusercontent.com/35640573/45566832-886cc100-b860-11e8-8448-bcc048730645.png)

[2018-09-16 15:20] atherdon opened #15 "key issue"
@vadim9999 you can find this issue when you'll run a `npm run test` or `yarn test`.

it's a basic issue, when you have a list of items. At React you should have an key property - that will indicate a different between list items.
The easiest way is to put `key=xxx` to all of this items, but each item should have a different ID.
I think we discussed a similar problem at our fetch plugin and decided

[2018-09-16 15:21] atherdon opened #16 "move our items loop into a separated file and create a separated components for it."
it'll make our code cleaner.

This is should be 3 components. One related to list of departments,
second is department info(id, department name, list of ingredients), third is list of ingredients

[2018-09-16 15:30] atherdon opened #17 "this is an example of how cool thing can became overcomplicated"
style={{ backgroundImage: css, cursor: !maximized ? 'pointer' : 'auto' }}

read about how to make a better styles by using `classnames` package and update this property

[2018-09-16 15:38] atherdon commented on #14
I pushed some changes, please take a look at my commits in order to understand what i've done.

i think scroll issue is gone, but in order to test it, we should apply some changes in styles. tell me if you want to do it yourself or maybe we can pass styles inside the tile to our markuper. she will happy to help i think

[2018-09-16 15:38] atherdon commented on #14
please close this issue if you think it's solved

[2018-09-16 15:40] atherdon opened #18 "fix warnings from console output"

[2018-09-17 17:38] atherdon commented on #14
Julia, this is how content inside the tile looks right now
![react app 1](https://user-images.githubusercontent.com/1469198/45639803-9ff2b680-bab9-11e8-8b6b-8a7d2b09c418.png)

[2018-09-20 13:02] vadim9999 commented on #14
@atherdon it's doesn't work when you will open Ultimate GroceryList where data is much. Exit button doesn't work. To quite from opened tile you need click F5.
![image](https://user-images.githubusercontent.com/35640573/45819954-52ab5a80-bcee-11e8-9413-83140d8e1797.png)

[2018-09-20 15:01] atherdon commented on #14
@vadim9999 Ok, not a problem. Julia will help us with styles, but about "close button issue" I propose you to read setting of plugin that we're using.
because i disable scroll just by changing one argument. maybe someone else will work for close button too. Check it here: https://github.com/GroceriStar/showcase/blob/master/src/App.js#L109

[2018-09-20 21:09] akinariobi commented on #14
fixed.
@atherdon should I commit changes to master branch?

[2018-09-20 21:13] atherdon commented on #14
@akinariobi yeah, by forking, commiting, and open a pull request that we can merge

[2018-09-20 21:31] atherdon commented on #14
@vadim9999 please check an updated version. if it works for you well - please close this task

[2018-09-21 17:10] vadim9999 commented on #14
It's works very well. We can close this task

[2018-09-21 17:10] #14 closed

[2018-09-22 12:34] #15 closed, assigned to nobody

[2018-09-22 12:35] atherdon commented on #18
you can close this task if all warnings was fixed for now

[2018-09-23 19:27] atherdon commented on #16
@vadim9999 each of this components should have this structure:
'/src/components/ComponentName/ComponentName.js'
+
'/src/components/ComponentName/ComponentName.test.js'
'/src/components/ComponentName/ComponentName.scss'

[2018-09-23 19:38] atherdon opened #26 "remove console.log from App.js"

[2018-09-23 19:39] atherdon opened #27 "move Cell to a separated place as a component"

[2018-09-23 19:41] vadim9999 commented on #16
@atherdon should I rename files in folder component?
DepartmentInfo.js
Ingredients.js
RenderGrocery.js

[2018-09-23 20:07] atherdon opened #28 "change layout inside tile to flexbox items"
right now we have this structure
[code]

later we'll have divs with rules for css.

[2018-09-23 20:12] atherdon commented on #16
keep them as it is for now. I'm ok with this names.
Our main goal, for now, is to have a sanbox where we can work on this separated static thing.
later, when we'll add this functionality into our main project - we'll discuss names/structure, etc

Btw, i pushed some updates, please fetch them from main repo.

[2018-09-25 00:45] atherdon opened #36 "move header to components too"

[2018-09-27 11:20] #16 closed

[2018-09-28 20:53] #18 closed

[2018-09-28 22:40] #26 closed

[2018-09-28 22:40] #36 closed

[2018-09-28 23:57] atherdon opened #40 "build issue after pdf install"
https://travis-ci.org/GroceriStar/showcase/jobs/434846370#L625

[2018-10-07 03:59] atherdon opened #47 "update or implement layout inside of tile"
https://ant.design/components/layout/

[2018-10-08 07:27] dependabot[bot] opened #48 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-10-08 10:55] #48 closed

[2018-10-10 13:27] atherdon opened #54 "enzyme shallow tests"
Showcase
app.js have class main
---

header
Grid → data

---
Cell
have class cell
add on click event
cell should have 2 fade components inside

---
DepInfo
li with h2 with data

ingredients
https://github.com/GroceriStar/showcase/blob/master/src/components/DepartmentInfo/DepartmentInfo.js

[2018-10-20 19:36] atherdon opened #59 "add styles to tile"
Right now they all looks similar. But maybe, using this different gradients color is not a good idea, but how it can be replaced?

[2018-10-26 11:23] atherdon opened #66 "add this button"
<PDFDownloadLink /> https://github.com/diegomura/react-pdf/issues/354#issue-374204579

[2018-10-31 19:42] #66 closed

[2018-10-31 19:42] atherdon opened #72 "create layout component"
https://github.com/GroceriStar/showcase/blob/master/src/components/GroceryListLayout/GroceryListLayout.js

[2018-10-31 19:43] atherdon opened #73 "Link"
https://github.com/GroceriStar/showcase/blob/master/src/components/Cell/Cell.js#L30-L34

[2018-11-04 20:59] atherdon opened #81 "Task List"
- [ ] **flexbox layout for displaying data of GL in-old-fashion-way**
check different repos https://www.google.com.ua/search?q=react+flexbox+components&oq=reaqct+flexbox+components&aqs=chrome.1.69i57j0l2.11108j0j1&sourceid=chrome&ie=UTF-8

https://github.com/GroceriStar/showcase/issues/28
---
- [ ] **add styles to tile**
https://github.com/GroceriStar/showcase/issues/59
---
- [ ] **try to add shar

[2018-11-09 02:10] aanchirinah commented on #81
@atherdon , I want to take up the task for Enzyme Jest tests

[2018-11-09 02:21] atherdon commented on #81
did you learn about how Jest+enzyme works, right? I mean not all of our members know how to use it, so i started to record some simple lessons. It's also not an easy task - because i didn't finish an explanation about what exactly should be done. But if you can take some time, explore this project and create a list about what shallow tests we should have here - it'll be awesome @aanchirinah

[2018-11-09 02:38] aanchirinah commented on #81
@atherdon , I have used Enzyme + Jest before and I'm familiar with shallow tests thanks to Enzyme's documentation. So yes I can explore our project and list where we will need shallow tests.

[2018-11-09 02:40] atherdon commented on #81
Good! Buzz me if you'll need help!

[2018-11-09 04:16] atherdon opened #88 "getGroceryCollection method is not owrking"
don't know why. I debug it and i fix it a bit, but on react app it crashed.
https://github.com/GroceriStar/groceristar-fetch/issues/141

https://github.com/GroceriStar/showcase/blob/master/src/App.js#L12
https://github.com/GroceriStar/showcase/blob/master/src/App.js#L22-L23

[2018-11-09 19:54] #73 closed

[2018-11-10 00:33] atherdon opened #89 "tasks"
Move away css from components(i saw at least 3 components that should be clean up)

---
Update selectors, it's from calendar sutff. and should work at the same level.

---
RenderGrocery & RenderGroceryId - looks like similar components

--
Update warnings

[2018-11-18 11:47] #88 closed

[2018-11-20 11:38] atherdon opened #95 "generatepdf not sure if it works"

[2018-11-20 11:57] #95 closed

[2018-11-20 11:58] atherdon opened #96 "look and feel of generate pdf process is not awesome by my opinion."
it works, but i don't like how it looks.
tell me if you have ideas.

[2018-11-20 12:02] atherdon commented on #72
we need details for what place we should have this layout

[2018-11-20 12:13] atherdon opened #97 "App.js getID"
when i print method getId
i think it runs at least 3 times.
![desktop screenshot](https://user-images.githubusercontent.com/1469198/48772892-6b27f900-ecce-11e8-9b76-2c2626972078.png)

[2018-11-21 07:36] atherdon commented on #28
https://github.com/coleturner/react-components/blob/master/Masonry/View.jsx

[2018-11-21 07:40] atherdon commented on #28
or
https://www.npmjs.com/package/react-masonry-component
or
https://codepen.io/golle404/pen/wWoXwz

[2018-11-21 07:42] atherdon commented on #28
https://github.com/paulcollett/react-masonry-css

[2018-11-26 11:24] atherdon opened #100 "testing"
- [ ] https://github.com/GroceriStar/showcase/tree/master/src/components/DepartmentInfo
- [ ] https://github.com/GroceriStar/showcase/tree/master/src/components/DepartmentList
- [ ] https://github.com/GroceriStar/showcase/tree/master/src/components/DownloadLink
- [ ] https://github.com/GroceriStar/showcase/tree/master/src/components/GeneratePDF
- [ ] https://github.com/GroceriStar/showcase/tree/ma

[2018-11-30 12:38] atherdon opened #101 "we don't have checking pass we or not an id of grocery"
just try to open a http://localhost:3000/grocery/all and you'll see what i mean.
`all` is not a working id, and things go broken

[2018-12-01 17:06] atherdon opened #102 "separate main router with grocery routes"
details upon request

[2018-12-09 16:22] atherdon opened #105 "https://github.com/MrRio/jsPDF"

[2018-12-12 05:08] atherdon opened #114 "Task List 2"
- [ ] Tile styles look really bad.

- [ ] prepare pages/layout for flexbox - justify-content

- [ ] RenderGroceryById - rename, fix css, looks like it loads very slow.

- [ ] Move DepartmentInfo into new repository and connect it from there.(details upon request)

- [ ] We can grab and use some logic from MealCalendar project(details upon request)

[2018-12-12 05:10] atherdon opened #115 "first impression"
take some time and look project code.
pick some task and commit changes here.

[2018-12-12 05:13] atherdon opened #116 "prepare all components, related to grocery list for moving away from this project"
components, basic views, routes etc.
everything should be reviewed.
and we need to have a plan.
our code should be ready to grab it and move to a new clean project without unnecessary things, without bugs, crashes, etc.
so planning is a crucial part here.

[2018-12-12 05:14] atherdon commented on #116
will move them here: https://github.com/GroceriStar/grocery-react-component

[2018-12-12 05:20] atherdon commented on #116
components should be independent of our `fetch` plugin. maybe we did it partially, but it should be reviewed in details

[2018-12-13 23:46] atherdon opened #117 "grocery view"
not working here, but works at react-shoplist-template. you can grab it here, play with it and later move away to grocery-component repo, then publish an updated version of that plugin, then replace this functionality here and at shoplist-template. also can create an issue with link to this issue at groceristar-app because we also have a groceryView....

[2018-12-13 23:47] atherdon commented on #117
https://github.com/GroceriStar/showcase/blob/master/src/views/GroceryView.js

[2018-12-14 00:15] atherdon commented on #117
https://github.com/GroceriStar/react-shopping-list-template/blob/master/src/views/GroceryView/GroceryView.js

[2018-12-14 02:23] atherdon opened #118 "tests crash our build because i'm stupid"
https://travis-ci.org/GroceriStar/showcase/jobs/467813342
#116
#54
#100

[2018-12-14 02:23] atherdon opened #119 "fix button now logic. looks bad and stupid"
https://ant.design/components/spin/

[2018-12-14 02:37] atherdon opened #120 "give back"
+ move our logic of generation of pdf into https://github.com/diegomura/react-pdf/tree/master/examples
it'll also require a separation of our stuff

[2018-12-14 03:06] atherdon commented on #120
+ we can setup it as hakernoon article. think about it!
maybe we should have a separated repo with simple install pluss export to sandbox so we can share it easily with people.

[2018-12-14 03:07] atherdon commented on #120
doint it here: https://github.com/GroceriStar/react-pdf

[2018-12-17 03:03] atherdon opened #122 "for some reasons - groceryList component generate an error"
http://localhost:3000/groceries

![image](https://user-images.githubusercontent.com/1469198/50064267-f2c33380-01b8-11e9-9369-26fe350e54b3.png)

 - GroceriesView.js - main file that generate that issue

[2018-12-17 03:06] atherdon commented on #122
+ at this page we're trying to check: if styles, from antd library - that we connected at index.css - display modal windows. Because at our homepage - for some reasons - accordion inside the tile of cards is not render well(i mean it looks different than we're expecting)

[2018-12-25 09:28] atherdon opened #130 "use react modal?"
https://github.com/reactjs/react-modal

[2018-12-28 08:13] Avuidrauxs opened #133 "Handle TODO comments"
This issue was opened to handle tasks related to all the TODO comments in the project

- [ ] App.js
- [ ] InsideLayout.js
- [ ] DepartmentInfo.js
- [ ] DownloadPDFLink.js
- [ ] RenderLists.js
- [ ] AntdLayout.js
- [ ] ChangeGroceryNameView.js
- [ ] GroceriesView.js
- [ ] HomeView.js
- [ ] ManageGroceryView.js

[2018-12-28 08:15] Avuidrauxs commented on #133
<img width="855" alt="screen shot 2018-12-28 at 3 03 06 am" src="https://user-images.githubusercontent.com/5025923/50508187-cc21ba00-0a4e-11e9-9392-4ef57ad7248c.png">

@atherdon Hasn't this been achieved already , from the TODO, i'm reading

[2018-12-28 08:21] atherdon commented on #133
@Avuidrauxs can you add a codeline to each of this todos, so i can quickly review it and undestand a context?
like this: https://github.com/GroceriStar/showcase/blob/master/src/App.js#L4-L8

for this case - yeah - just delete a todo comment and next import of homeview.
Note: please fork showcase and apply your changes via pull request

[2018-12-28 08:42] Avuidrauxs commented on #133
@atherdon , okay understood. I have updated the issue description with links now as requested.

[2018-12-29 03:56] Avuidrauxs commented on #133
@atherdon , Can you clarify what you want me do with reworm overhere ? https://github.com/GroceriStar/showcase/blob/master/src/App.js#L12,

[2018-12-29 07:35] atherdon commented on #133
@Avuidrauxs let's skip a reworm for now. or spend some time and generate an explanation for me how you'll do it and how it'll benefit to us. because i didn't read a lot about it.

[2018-12-29 13:00] atherdon opened #135 "pdfkit?"
http://pdfkit.org/

[2018-12-30 09:13] atherdon commented on #133
find some paper notes, related to showcase project- will add them as tasks for future at issues.
tell me if you pick some of this todos or i should pick it for you. just not sure what the status is

[2019-01-02 19:30] atherdon commented on #133
I'm also jumping into this project for a few days, so be ready to my avalanche of small commits :(

[2019-01-03 00:38] Avuidrauxs commented on #133
@atherdon , What kinda links method from `react-router` you me to use in  https://github.com/Avuidrauxs/showcase/blob/master/src/InsideLayout.js#L17,

Do you want me to refactor the function to use `<Links>` or rather use `history.push()` from `History` to redirect to onClick of the button.

[2019-01-03 04:32] Avuidrauxs commented on #133
@atherdon , Also yeah I will see if reworm is still relevant for what we want to achieve.

[2019-01-03 12:06] atherdon commented on #133
@Avuidrauxs we should connect somehow the `getLink` function with our router component.
I mean - it's bad that we hardcoded this path '/grocery/:id' . let's assume this situation: you change links at router, for example to '/grocerylist/:id' and after this chages - `getLink` method is actually a bug, and only if you remember about it - you'll fix it.

[2019-01-03 13:46] atherdon commented on #133
this todo can be done pretty quick too: https://github.com/GroceriStar/showcase/blob/master/src/components/Cell/InsideLayout.js#L22-L30

[2019-01-03 15:49] #118 closed

[2019-01-03 15:49] atherdon commented on #122
we need to review is this was solved or not

[2019-01-03 15:52] atherdon opened #140 "slow loading"
https://desmart.com/blog/react-is-slow-oh-wait-tips-on-how-to-optimize-react-apps-performance-1
https://hackernoon.com/improving-first-time-load-of-a-production-react-app-part-1-of-2-e7494a7c7ab0
https://medium.com/myheritage-engineering/how-to-greatly-improve-your-react-app-performance-e70f7cbbb5f6
https://marmelab.com/blog/2017/02/06/react-is-slow-react-is-fast.html

[2019-01-03 17:00] atherdon commented on #117
i think it was fixed. someone need to review it and elaborate

[2019-01-03 17:02] atherdon commented on #116
lists are moved away into grocery-react-component.
next thing can be a different basic views or wrappers... Details upon request

[2019-01-03 17:06] atherdon opened #141 "pdf export v2"
so we have our current version and i'm ok with that.
but i want to have a second pdf generator that will draw a borders for each of deparment with ingredients.

basically i want something similar to this: http://templatelab.com/wp-content/uploads/2018/03/grocery-list-template-25.jpg
https://cdn.vertex42.com/ExcelTemplates/Images/grocery-checklist.png

you don't need to delete the previous version.

[2019-01-03 17:07] atherdon commented on #141
#81

[2019-01-03 21:51] atherdon commented on #141
#143

[2019-01-04 11:18] atherdon commented on #141
@vadim9999 i like how the second version of pdf file looks. we should keep it.
But i also want to have a "boxes" related to departments, because this will make look it similar to default shopping lists and will reduce number of pages.
as this package created with help of using flexboxes - you can easily manipulate this boxes.

again, i create a course about it - so maybe i need to share it with yo

[2019-01-04 13:35] vadim9999 commented on #141
I think it's a bug
![image](https://user-images.githubusercontent.com/35640573/50690531-5614e880-1036-11e9-914d-cb422c4af209.png)

[2019-01-04 14:00] atherdon commented on #141
by bug you mean that it's creating lines instead of boxes, right?

[2019-01-04 14:03] atherdon commented on #141
i also see that you generate a lot of pdfs so far :)
i'll commit soon a solution that might help us with debugging

[2019-01-04 14:06] atherdon commented on #141
can you also create a PR with your changes?

[2019-01-04 14:15] vadim9999 commented on #141
appear space between boxes

[2019-01-04 14:17] atherdon commented on #141
just published an update, where we can render(i.e. preview) layout that we can have in our pdf file.
just navigate to '/pdf' route.
i just copy-pasted basic layout, so feel free to replace it with the layout that you're trying to do

[2019-01-04 14:19] atherdon commented on #141
please move pdf layout that you're working on to '/pdf' view and i'll be able to debug it too

[2019-01-04 14:35] vadim9999 commented on #141
Ok, In https://github.com/GroceriStar/showcase/pull/145

[2019-01-04 14:38] atherdon commented on #141
i also reading issues at react-pdf package, so maybe you're right and we catch a bug. diego currently working on come "crazy borders", you can see example here: https://github.com/diegomura/react-pdf/pull/433 so if we'll not be able to solve it soon - we'll just wait for the next release

and i also see that other people reporting bugs too.
as this report:
[Quote1546612053568.pdf](https://github.c

[2019-01-04 15:33] atherdon commented on #141
ok, i can view your changes right now. btw, open a dev console and you'll see that we have some errors here

[2019-01-04 15:35] atherdon commented on #141
let's split this task into sections. instead of rendering all items(departments) by using `RenderList3` component - can we render 2 blocks with static text, in order to see where we have an issue?

[2019-01-04 15:37] atherdon commented on #141
at RenderList3 i see 2 components with same name
```import List3, { Item } from '../List3/List3';```
and
```const Lists3 = ({```

[2019-01-04 15:42] vadim9999 commented on #141
It's now the same there List3 and there Lists3

[2019-01-04 15:46] atherdon commented on #141
gotcha. just was confused...
hold on for some time - i'll check it on my own side

[2019-01-04 15:47] vadim9999 commented on #141
I also see errors
[code]

[2019-01-04 16:06] atherdon commented on #141
to be honest - i think it's not a bug, but our stuff.
we just need to go by simple steps and see how it'll be displayed.

we just have a lot of wrappers.
Like View inside View, inside View inside Text, etc.

I'm sure if we'll update it and apply right styles - everything will work.
because at your example - we're applying flex styles, without `display:flex` and also you set flex-direction not to c

[2019-01-04 17:58] atherdon commented on #141
buzz me if you'll need my help - i'm switching into other task

[2019-01-04 18:32] vadim9999 commented on #141
For rendering pdf in DOM is component PDFViewer  but when I add in code it's completly stuck my computer, RAM space is full and continue swapping on hdd.

[2019-01-04 18:47] atherdon commented on #141
ok, understand - this project is loading very slow i agree.
we can set it on pause if you want. tell me what do you think

[2019-01-04 18:48] vadim9999 commented on #141
yes we can pause

[2019-01-04 18:48] atherdon commented on #141
ok - let's do it. maybe we'll make it render quickly in next few days

[2019-01-04 18:49] atherdon commented on #141
if you have changes - push them in PR

[2019-01-04 19:56] vadim9999 commented on #141
ok, I have fixed rendering problem in pr https://github.com/GroceriStar/showcase/pull/146

[2019-01-05 06:08] atherdon commented on #141
a bit confused - all is working fine?

[2019-01-05 08:36] atherdon commented on #141
got it, thanks for clarifying

[2019-01-05 09:31] atherdon commented on #141
tell me if you need some other task. we can try to find out why this project loading slow..

[2019-01-05 09:32] atherdon commented on #96
i also install react-spring that can be used for some animations

[2019-01-05 09:44] vadim9999 commented on #141
ok, lets finding why it's so slow. but how?

[2019-01-05 09:49] atherdon commented on #141
check the issues - i leave some clues :)

[2019-01-05 14:32] vadim9999 commented on #140
I tried this method in component Cell
[code]
After this when I open a tile it's empty also I have installed "why-did-you-update" that display re-render when loading home it`s ~ 451 re-render when open a tile ~ 1117

[2019-01-05 16:16] atherdon commented on #140
wow thisi our candidate!

[2019-01-05 17:07] vadim9999 commented on #140
ok, it's working PureComponent and shouldComponentUpdate()
I just needed more learn

[2019-01-05 17:14] atherdon commented on #140
cool! optimization is an important thing - i like that you learning it
also, you can apply your debug to this samples:
https://codesandbox.io/embed/0582jolnl
https://codesandbox.io/embed/z6ly40071p

i just want to eliminate the possibility that this is an issue, related to package that we're using - because if this is their issue - we can not only solve our trouble - but also contribute to other p

[2019-01-05 17:18] atherdon opened #151 "update gradients"
https://github.com/ghosh/uiGradients

[2019-01-05 17:21] atherdon commented on #151
https://github.com/GroceriStar/groceristar-fetch/blob/master/projects/GroceriStar/groceristar.js#L27-L42

[2019-01-06 10:43] atherdon commented on #140
did we solve this issue, right? at my side - it works better

[2019-01-06 20:46] vadim9999 commented on #140
yes

[2019-01-06 22:00] #140 closed

[2019-01-07 12:43] atherdon commented on #72
we have also antd layout too. and clean layout.

[2019-01-07 14:23] #135 closed

[2019-01-07 14:48] #120 closed

[2019-01-07 14:50] #105 closed

[2019-01-07 16:06] atherdon commented on #141
i think we both agree that it's hard to manage all code inside of this repository.
right now i'm moving away files, related to pdf functionality into separated places. where we'll be able to test it without big issues or without complex project structure.
components will be here: https://github.com/GroceriStar/pdf-export-component
create-react-app here: https://github.com/GroceriStar/react-print-p

[2019-01-07 17:31] atherdon opened #157 "completely move away pdf-stuff"

[2019-01-07 17:47] atherdon commented on #157
- [ ] all components should be migrated from this repo into ...
- [ ] all inner components successfully replaced with a new versions
- [ ] all basic 4 layouts working simaltaneusly without troubles

[2019-01-07 18:00] atherdon opened #158 "use departmentListCustom and GroceryList from grocery-component"
both of thing components works well by my opinion. we should use them

[2019-01-07 22:54] atherdon opened #159 "recipe-related modal layouts"
should be finished, clean up and have some conditions, so we can view it on production level

[2019-01-08 14:22] vadim9999 commented on #141
ok, I can help you

[2019-01-08 15:11] vadim9999 commented on #141
@atherdon what components left to move?

[2019-01-08 15:16] atherdon commented on #141
replying at https://github.com/GroceriStar/pdf-export-component/issues/7#issuecomment-452322702

[2019-01-08 15:18] atherdon commented on #141
i propose to close this task and continue to chat at that separated place, tell me if this is ok for you

[2019-01-08 15:21] vadim9999 commented on #141
yes

[2019-01-08 15:27] #141 closed, assigned to vadim9999

[2019-01-16 21:11] Avuidrauxs commented on #133
@atherdon What states should I check before rendering the InsideLayout,  https://github.com/GroceriStar/showcase/blob/master/src/components/Cell/InsideLayout.js#L22-L30

[2019-01-16 21:17] Avuidrauxs commented on #133
@atherdon Also on the context of `reworm` with React's new Context API, we probably could stick with that since it will be less complex for other interns to pick up on the topic of state management. I would like to iron out more details and debate this with you but what do you think of React's `Context API` ?

[2019-01-17 01:07] atherdon commented on #133
i like an idea of Context API. @Avuidrauxs can you give me details about what do you want to debate of :)

Btw, in the last weeks we have some updates with our project. We still need a lot of things todo, but this task with this codelines should be updated. And I want to see some code updates from you as well ;)
if you want - we can create a small separated task, where we'll have only one of TODOs

[2019-01-17 01:19] Avuidrauxs commented on #133
@atherdon , Yaah but I think first of all I want to know the ideal way you want new interns to be able to grasp new knowledge of _state management_. And also I am yet to deeply work with components to access how well we can manage state for components

[2019-01-17 01:20] Avuidrauxs commented on #133
@atherdon , Yes let's create a small one task that will enable me to blend back easily to the codebase , I've been absent for too long

[2019-01-17 01:42] atherdon commented on #133
@Avuidrauxs ok, will create a small task and then reply to your question

[2019-01-17 01:44] Avuidrauxs commented on #133
@atherdon Okay I'm waiting patiently :-)

[2019-01-17 02:04] atherdon opened #171 "todo-part1"
#133

- [x] RenderContent. Separate(move away styles) from render method.
https://github.com/GroceriStar/showcase/blob/master/src/components/Cell/RenderContent.js#L28-L31
this is how it can be: https://github.com/GroceriStar/showcase/blob/master/src/components/Cell/Cell.js#L13-L16

- [x] we need to move getLink method to the router file. Right now we using an old version. Remove old versions(`impo

[2019-01-17 02:05] atherdon commented on #133
@Avuidrauxs please check #171 task

[2019-01-17 02:12] Avuidrauxs commented on #171
@atherdon Thank you , I have begun. I am okay with the details and specifications given and will let you know if I have any blockers or questions.

[2019-01-17 02:17] atherdon opened #172 "List of cards"
More details upon request.

---
[At this project](https://github.com/ChickenKyiv/recipe-antd/blob/master/src/components/RecipeList/Cards.js) we have some cards, that AntD library can create.
After chat with Vadim we realized that mauwerk works slow, and it's better to replace it.
So we'll create a separated page, that will be similar to HomeView, but instead of Grid from mauwerk - we'll have compo

[2019-01-17 02:18] #115 closed

[2019-01-17 02:19] #17 closed

[2019-01-17 02:19] atherdon commented on #171
awesome! keep me posted

[2019-01-17 04:37] atherdon commented on #171
get recipe link give you an ability to review single recipe
get link related to viewing data related to single grocery list.

right now please move styles into separated js object.(i mentioned it at task description)
sample:
https://github.com/GroceriStar/showcase/blob/master/src/components/Cell/Cell.js#L13-L16
[code]

[2019-01-17 04:39] Avuidrauxs commented on #171
@atherdon okay I actually did move them into `scss` before but any reason why you prefer moving them into js objects?

[2019-01-17 04:41] Avuidrauxs commented on #171
@atherdon  So you want me to move the `getLink` method into `Router`?

[2019-01-17 05:35] Avuidrauxs commented on #171
@atherdon  Would this be an acceptable solution
[code]

[2019-01-17 06:01] atherdon commented on #171
not a lot of reasons if it works now. it's briefly. if you want detailed explanation - create a separated issue and i'll explain it there.

yes

it depends... if you did everything clear and all links will work as they worked before - it's good for me

[2019-01-17 07:02] Avuidrauxs commented on #171
@atherdon Review this PR , https://github.com/GroceriStar/showcase/pull/174

[2019-01-17 07:30] atherdon commented on #171
Btw, what other components also have inline styles? let's update them too

[2019-01-17 11:07] Avuidrauxs commented on #171
Unless I search through or do you have them marked already? @atherdon

[2019-01-17 11:41] atherdon commented on #171
no, i didn't mark them. please check components manually.
but we need to finish dealing with our PR first

[2019-01-17 12:01] atherdon commented on #171
ok, we solved issues from this task. i'll close it - but please review current components - it'll be also a good training for you and submit new PR if you'll find some hardcoded styles. then you can gid into #172 or update list of TODO(update only few of them for start) codelines

[2019-01-17 12:01] #171 closed

[2019-01-19 21:21] atherdon commented on #172
first of all - did you finish my last assignment, related to reviewing all components with inline styles?

[2019-01-28 15:43] atherdon opened #196 "design"
![react app](https://user-images.githubusercontent.com/1469198/51847291-17680a80-2324-11e9-94c8-ed331ac3cea0.png)
i assume it self explanatory.
but: close button
header color changes
last button running away

[2019-01-28 15:48] atherdon opened #197 "does really this is a data from that grocery list?"
![react app](https://user-images.githubusercontent.com/1469198/51847363-39618d00-2324-11e9-937c-22be9ae10090.png)
https://github.com/GroceriStar/groceristar-fetch/blob/master/data/Ingredients/how-i-spent-40-at-trader-joes-and-ate-healthy-for-a-week.json

[2019-01-30 01:33] Avuidrauxs commented on #172
@atherdon ,  Quick question about the cards so you want me to put the cards like `Card1`, `Card2`, `Card3` into different components , if yes how should I name them then?

[2019-01-30 01:41] Avuidrauxs commented on #172
@atherdon , Okay now I understand what you want me to do , you want me to start simple and implement a component with `antd` cards right?

[2019-01-30 01:42] Avuidrauxs commented on #172
@atherdon , So should I use the `recipe-antd` in `Chicken-kyiv` as a guide or you have another design pattern you want me to use?

[2019-01-30 01:42] atherdon commented on #172
This cards related to displaying recipe-data.

I think Vadim update one of these cards. But in order to make cards-examples work also with grocery-data - i think we should have them separated. Hold on, i'll create a separated repo for you

[2019-01-30 01:56] atherdon commented on #172
at this repo we'll keep our card components: https://github.com/GroceriStar/cards-wrapper-component

in order to speed up development, i just copy-paste whole project from pdf-export-component that we also have at showcase...
check the structure and then feel free to delete all components and put cards inside.
this project has nice setup, with builds, etc. that will help us to publish and maintain

[2019-01-30 02:04] atherdon commented on #172
tell me if you 'll need my help in order to understand how it works. you can ask it at cards-wrapper repositories issues

[2019-01-30 02:06] Avuidrauxs commented on #172
@atherdon Okay , I would start now and let you see what I've done to make sure I'm on the right track. Thank you

[2019-01-30 02:06] atherdon commented on #172
perfect!

[2019-02-03 19:16] vadim9999 commented on #197
I don't know maybe someone change first letter(from small to big) department name in ingredients.json or in grocery department. and for this reason you get this bug. Now in ingredients.json
[code]
but department in grocery how-i-spent-40-at-trader-joes-and-ate-healthy-for-a-week is `"other"` (small letter) then I have opened this tile and list of ingredient is empty.
I think our need rebase mathod

[2019-02-03 20:10] atherdon commented on #197
let's choose different path.
we have a new method that return all grocery lists. When we'll add tests and confirm that everything works file - let's use it in showcase. what do you think about this plan? again - i think we(you or me, this is how actually this bugs appears) change something at our methods and things goes to crash. I don't think that this is a problem. I just want to have a place, w

[2019-02-03 20:30] atherdon commented on #197
i think this issue is partially related to work, that Maria did, so we'll move this question to fetch plugin and ask her, when she have time

[2019-02-03 21:13] atherdon commented on #197
btw, at http://localhost:3000/home2 you can see how cards are rendered without styles

[2019-02-04 02:05] atherdon opened #206 "remove recipe stuff"
we cannot do it right now, because we stuck with it between projects.
Maybe moving it away to some separated repo as cards-wrapper will help us

and it should be done only after cleaning up the pdf stuff

[2019-02-15 22:55] atherdon opened #234 "good api example"
right now i launch our project locally, and i don't have server running - homepage didn't show anything at this moment. i assume that we need to cover this case too: if api didn't return to us anything - we should display some sort of warning message.

If you want to make it more cool - buzz me and i'll show you how to create a cool NO DATA component

[2019-02-15 23:03] #206 closed

[2019-02-24 17:23] vadim9999 opened #255 "plan to get rid of mauwerk cards that works slow and started to looks bad"
Plan
1. In showcase in views/HomeView using component Grid. Replace it by List like in ListWrapper.
2. Create separated component with code in ListWrapper in method ItemCard. Make the same with ItemCardEmpty
3. Change Card that it will show just title.
4. Make Card clickable like this https://codesandbox.io/s/71kvk8848j. When you click on a card it will open a modal. Create component with Modal.
5

[2019-02-25 06:01] atherdon commented on #255
@vadim9999 Can you add few options, related to connecting showcase with fake-api?

And I also think that we need to introduce our developer to https://github.com/GroceriStar/antd-showcase-components - it's a place where we keeping simple components, related to showcase projects.
this is a empty react project, where i'm testing components and fixing small errors: https://github.com/GroceriStar/antd

[2019-02-26 14:25] vadim9999 commented on #255
selector.js in showcase has url of database fake-api
[code]
function getResponse(route) has attribute route that must be route after url.
[code]
If you want to write new method you can use function getResponse(). For exaple
[code]
after that in component where you want to get data you should
[code]

[2019-03-02 17:48] vadim9999 commented on #234
I want to make more cool no data component

[2019-03-03 08:54] atherdon commented on #234
Ok, good to know. but it will require a combination of things.
First of all - i think we woudln't be able to test it without connection to fake-api(where we have an error). But, it can be a good case for showing the reason of why we need to implement this scenario. Because it's an exact situation were server is not available...

---

1. I find this page: https://ant-design.gitee.io/components/list

[2019-03-08 08:36] vadim9999 commented on #234
this two repos are just library
https://github.com/GroceriStar/cards-wrapper-component
https://github.com/GroceriStar/antd-showcase-components
I can't debug it. I will adding in showcase

[2019-03-08 09:03] atherdon commented on #234
we have a sandbox projects, where you can debug. but yeah, you need to connect them to react project and then adjust code at modules, if needed. Btw, keep in mind that some of not finished components at that files has connection to selectors, and this is not ok. we need to pass data from the parent. But i'm sure you'll be able to handle it

[2019-03-12 15:40] vadim9999 commented on #234
We can close it?

[2019-03-12 16:15] atherdon commented on #234
did we finish it?

[2019-03-12 16:15] atherdon commented on #234
because i didn't see it. but i may miss something easily

[2019-03-12 16:25] vadim9999 commented on #234
I have connect Empty component from  card-wrapper-component that will appear whe no connection to DB (fake-api) and spinning circle in opened title. Should it be somethin else?

[2019-03-12 16:28] atherdon commented on #234
hold on, i'll grab latest changes from repo and will take a look. i think i
didn't do it quite a while ago. then i'll be able to answer to your
question.
Actually, as i don't setup my local server - it will be a perfect case to
test

[2019-03-12 16:53] atherdon commented on #234
ok it works! awesome news.

[2019-03-12 16:53] #234 closed

[2019-03-12 16:53] atherdon opened #291 "have a switcher between fetch and fake api"

[2019-03-12 17:59] atherdon commented on #234
@vadim9999 I think we need the similar functionality at recipe-antd and at antd-showcase project. Can you move this code to that projects too?

[2019-03-12 18:06] vadim9999 commented on #234
ok

[2019-07-27 20:10] vadim9999 opened #439 "bug of antd"
When starting showcase
[code]

I get this error
![image](https://user-images.githubusercontent.com/35640573/61999138-98317480-b0c3-11e9-9786-269ac904d997.png)

[2019-07-27 20:10] vadim9999 commented on #439
Now I am working on it. I will try to downgrade antd

[2019-07-27 20:39] vadim9999 commented on #439
https://github.com/GroceriStar/showcase/pull/440
Antd using css-animation that didn't installed in this repository. But css-animation should be 1.5.0 version, another you will get an error like in screen upper if it will be (1.6.0 and higher)

[2019-07-27 20:40] #439 closed

[2019-07-30 13:42] vadim9999 opened #447 "bug of eslint"
Project starting up with eslint 5.16.0. With the latest version, I get an error that should use eslint 5.16.0

[2019-07-30 14:24] atherdon commented on #447
1) idea
usually, react have eslint inside of `react-scripts`. so i think

2) idea
we maybe need to upgrade eslint to the latest version

https://eslint.org/blog/2019/07/eslint-v6.1.0-released

[2021-10-18 23:22] renovate opened #767 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/GroceriStar/showcase).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Deprec